name: uses-cache
on:
  workflow_dispatch:
jobs:
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@1.88.0
        with:
          targets: ${{ matrix.target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: cargo-workspaces

      - name: Test
        run: cargo test --target ${{ matrix.target }} --manifest-path cargo-workspaces/Cargo.toml
